* {
    box-sizing: border-box;
}

body {
    margin: 100px;
}

.field {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #cccccc;
}

.excel {
    width: 50px;
    height: 50px;
    padding: 5px;
}

.snakeBody {
    background: url(body.png);
    background-size: cover;
    border-radius: 50%;
    transform: scale(0.9);
}

.head {
    background: url(head.png);
    background-size: cover;
    border-radius: 10%;
}

.food {
    background: url(food.png);
    background-size: cover;
}
